name: Auto-merge
on:
  pull_request_target:
    types: [opened, synchronize, reopened, labeled]

permissions:
  contents: write
  pull-requests: write

jobs:
  automerge:
    uses: ivoronin/github-workflows/.github/workflows/automerge.yml@main
    with:
      dependabot: true
      autoupdate: false
    secrets: inherit
