name: Bump Homebrew formula

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release tag to update formula for'
        required: true
        type: string

jobs:
  homebrew:
    runs-on: ubuntu-latest
    steps:
      - name: Update Homebrew formula
        uses: mislav/bump-homebrew-formula-action@v3
        with:
          formula-name: ec2ssh
          homebrew-tap: ivoronin/homebrew-ivoronin
          tag-name: ${{ inputs.tag || github.event.release.tag_name }}
          download-url: https://github.com/ivoronin/ec2ssh/archive/refs/tags/${{ inputs.tag || github.event.release.tag_name }}.tar.gz
        env:
          COMMITTER_TOKEN: ${{ secrets.HOMEBREW_TAP_TOKEN }}
